* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* -------------colors------- */
  --preset-color-black: #191919;
  --preset-color-red: #750e21;
  --preset-color-orange: #e3651d;
  --preset-color-brown-grey: #8c6a5d;
  --preset-color-white-beige: #faf0e6;
  --preset-font-color-grey: #b9b9bb;

  /* ---------font----------- */

  --preset-font-inter: "Inter", sans-serif;
  --preset-font-playfair: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

/* Header */

header {
  background: rgb(87, 13, 13);
  background: linear-gradient(
    90deg,
    rgba(87, 13, 13, 1) 10%,
    rgba(22, 10, 1, 1) 70%
  );
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 2rem;
  position: relative;
}
.nav-links ul li a {
  color: var(--preset-color-white-beige);
  text-decoration: none;
  font-size: 20px;
  font-family: var(--preset-font-inter);
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--preset-color-orange);
  display: block;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(rgba(6, 9, 18, 0.7), rgba(3, 6, 10, 0.7)),
    url(images/venus-full-globe.jpg);
  background-position: center;
  background-size: cover;
}
.text-box {
  color: var(--preset-color-white-beige);
}
.text-box h1 {
  font-size: 7rem;
  font-family: var(--preset-font-playfair);
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 2rem;
  line-height: 10rem;
  font-family: var(--preset-font-inter);
  color: var(--preset-color-white-beige);
}

/* Section */

#nasa {
  border: 0.2rem solid var(--preset-color-white-beige);
  padding: 0.5rem 2rem;
  font-size: 30px;
  background: transparent;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.3s ease; /* Smooth transition */
}
a {
  text-decoration: none;
  color: var(--preset-color-white-beige);
  font-family: var(--preset-font-playfair);
}
#nasa:hover {
  border: 0.2rem solid var(--preset-color-orange);
  background: var(--preset-color-red);
}

.box {
  display: flex;
}

.container {
  background-color: var(--preset-color-black);
  padding: 0.5rem 0;
}

h2 {
  text-align: center;
  color: var(--preset-font-color-grey);
  font-family: var(--preset-font-playfair);
  font-size: 30px;
}

p {
  color: var(--preset-font-color-grey);
  font-family: var(--preset-font-inter);
  font-size: 20px;
}

.p-box {
  border: var(--preset-color-orange) 0.1rem solid;
  border-radius: 0.5rem;
  margin: 5rem;
  /* box-shadow: 0 0.1875rem 0.3125rem var(--preset-font-color-grey); */
}

.p-center {
  padding: 5rem;
}

#venus-surface {
  height: 35vw;
  padding: 5rem;
  margin-left: 5rem;
  border-radius: 13rem;
}

#mission {
  background-image: linear-gradient(rgba(6, 9, 18, 0.7), rgba(3, 6, 10, 0.7)),
    url(images/venus-surface-ai.webp);
  background-position: center;
  background-size: cover;
}
footer {
  display: flex;
  justify-content: center;
}
#info {
  padding-top: 10rem;
  background-color: var(--preset-color-black);
}
